@use '@/assets/style/variable' as *;

.current-time {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__connection {
    span {
      color: $light-green-color;
    }
  }

  &__wrapper-hours {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  p {
    font-weight: 500;
  }
}

.current-time__wrapper-hours .bi-clock {
  color: $light-green-color;
}
