@use 'reset';
@use 'media';
@use '@/assets/style/variable' as *;

body {
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  background: $light-grey-color;
}

[class$='__container'] {
  width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
  margin-top: 30px;
}

#app {
  height: 100%;
}
