$green-color: #008000;
$green-50: #47c847;
$light-green-color: #77e277;
$black-color: #000;
$light-black: rgba(0, 0, 0, 0.5);
$white-color: #fff;
$red-color: rgb(246, 7, 7);

$grey-color: rgba(227, 230, 240, 0.72);
$light-grey-color: rgba(242, 243, 245, 0.72);
